body{
    font-family: 'Montserrat', sans-serif;
}

main{
    width: 940px;
    margin: 0 auto;
}

form{
    margin: 40px 0;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.inputPadron{
    display: block;
    margin: 0 0 10px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox{
    margin: 20px 0;
}
    
.enviar{
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: orange;
    border: none;
    border-radius: 5px;
    transition: 1s background;
    cursor: pointer;
}

.enviar:hover{
    background: darkorange;
    
}

table{
    margin: 40px 40px;
}

thead{
    background: #555555;
    color: white;
}

td, th{
    border: 1px solid #000000;
    padding: 8px 15px;
}

@media screen and (max-width:480px) {

    h1{
        text-align: center;
    }

    nav{
        position: static;
        text-align: center;
    }

    .caja, .checkbox{
        width: auto;
    }

    form,fieldset,footer{
        width: auto;
    }

    select{
        width: 10%;
        height: 50px;
    }

}
