body{
    font-family: 'Montserrat', sans-serif;
}

.productos{
    width: 940px;
    margin: 0 auto;
    padding: 50px;

}

.productos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}

.productos li:hover{
    border-color: #c78c19;
}

.productos li:active{
    border-color: #088c19;
}

.productos h2{
    font-size: 30px;
    font-weight: bold;
}

.productos li:hover h2{
    font-size: 33px;
}

.productoDescripcion{
    font-size: 18px;
}

.productoPrecio{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}


@media screen and (max-width:480px) {

    h1{
        text-align: center;
    }

    nav{
        position: static;
        text-align: center;
    }

    .caja,.productos{
        width: auto;
    }

    .productos li{
        display: block;
        width: auto;
        margin-top: 15px;
    }

    footer{
        width: auto;
    }
}
